body{
  background-color: rgb(40, 35, 35);
}

main{
  background-image: url(.haikei.JPG);
  background-size: cover;
  width: auto;
  height: auto;
  margin-top: 100px;
}

main h1 {
  font-size: 50px;
    color: #108e84;
    text-align: center;
  }

.numa p{
font-size: large; 
background-color: rgb(127, 255, 212);
text-align: center;
}

.allcircle{
  padding-left: 10%;
}

a{
	display:block;
}

a:hover{ 
	opacity:0.5;
	transition:0.3s;
}


.btn{ 
  width: 30%;
  height: auto;
}

.red{
  float: left;
}

.green{
  float: left;
}

.form{
  text-align: center;
  background-color: #02ccba;
}

textarea{
  width: 300px;
  height: 60px;
}

.form p{
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}

.formtwo{
  text-align: center;
}

input{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 30px;
}
